/* Normalize css */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}
/* ===================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

body {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  margin: 15px 0px 0px 0px;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.post__title {
  font-size: 22px;
  margin: 0px 0px 5px 0px;
}

.post__text {
  font-size: 16px;
}

.page__wrapper {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.page {
  padding: 10px 12px 8px 12px;

  color: #fff;
  font-weight: 700;
  cursor: pointer;

  background: #3476e8;
  border-radius: 2px;
}

.page__current {
  color: #000;

  background: transparent;
  border: 1px solid #3476e8;
}

.navbar {
  padding: 0px 15px;

  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #ccc;
}

.navbar__links {
	margin: 0px 0px 0px auto;
}
